<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los Usuarios</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header-javier.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon" />
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <% if (locals.isAdmin && usuarios) { %>
        <% for( let i = 0; i < usuarios.length; i++ ) { %>
            <div>
                <p><%= usuarios[i].id  %> </p>
                <p><%= usuarios[i].name %> </p>
                <p><%= usuarios[i].last_name %> </p>
                <p><%= usuarios[i].email %> </p>
            </div>
        <% } %>

    <% }else{ %>
        <p>No tienes permiso para acceder a esta pagina</p>

        <% } %>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>
</html>