<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= , initial-scale=1.0">    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="css/styles-nicolas.css">
    <script src="https://kit.fontawesome.com/0b0b0ca8c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>
        
        <form class="form" action="/users/register" method="POST">
            <% if(locals.errors) {%>
                <ul>
                    <% for (let i=0; i < errors.length; i++) { %>
                        <li style="color: red;"><%= errors[i].msg %> </li>
                    <% } %>
                </ul>
            <% } %> 
            <div class = "login-sections">
                <!-- Título -->
                <section class="login-title">
                    <h1>Registro</h1>
                </section>

                <!-- Datos de acceso -->
                <section class="login-data">

                    <!-- Nombre --> 
                    <div class="login-input">
                        <div class = "login-icon">  
                            <i class="fas fa-user"></i>
                        </div>
                        <label for="name">Nombre: </label>
                        <input class="login-main-inputBox" type="text" name="name" placeholder="Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre y Apellido'" value="<%= locals.old && old.name ? old.name : "" %> ">     
                    </div>
                    <!-- Apellido-->
                    <div class="login-input">
                        <div class = "login-icon">  
                            <i class="fas fa-user"></i>
                        </div>
                        <label for="last_name">Apellido: </label>
                        <input class="login-main-inputBox" type="text" name="last_name" placeholder="Apellido" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre y Apellido'" value="<%= locals.old && old.last_name ? old.last_name : "" %> ">     
                    </div>

                    <!-- correo electrónico --> 
                    <div class="login-input">
                        <div class = "login-icon">  
                            <i class="fas fa-envelope"></i>
                        </div>
                        <label for="email">Email: </label>
                        <input class="login-main-inputBox" type="email" name="email" placeholder="Correo Electrónico" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Correo Electrónico'" value="<%= locals.old && old.email ? old.email : "" %> ">     
                    </div>       
                        
                    <!-- contraseña -->
                    <div class="login-input">                
                        <div class = "login-icon">
                            <i class="fas fa-key"></i>
                        </div>    
                        <label for="password">Contraseña: </label>                            
                        <input class="login-main-inputBox" type="password" name="password" placeholder="Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'" value="<%= locals.old && old.password ? old.password:""%>">       
                    </div>

                    <!-- repetir contraseña -->
                    
                    <!-- <div class="login-input">                
                        <div class = "login-icon">
                            <i class="fas fa-key"></i>
                        </div>                                
                        <input class="login-main-inputBox" type="password" name="passwordRepeat" minlength="5" required placeholder="Repetir contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Repetir contraseña'">       
                    </div> -->

                    

                </section>

                <!-- Botón de login -->
                <section class="login-button">
                    <input type="submit" value="Registrarme" class="button">
                </section>

                <!-- Registrarse si no tiene cuenta -->
                <section class="login-register">
                    <p>¿Ya tienes cuenta? <a class="link" href="/users/login">Iniciar sesion</a></p>
                </section>

                <!-- Términos -->
                <section class="login-terms">
                    <p>Al registrate aceptas nuestras condiciones de uso y politicas de privacidad</p>
                </section>
            </div>        
        </form>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer> 
</body>
</html>